@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  #bsnlmobile img {
    animation: fadeIn 1s ease-in-out; 
    object-fit: cover;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  #bsnlmobileimage {
    
    object-fit: cover;
    transition: transform 0.3s ease; 
  }
  
  #bsnlmobileimage:hover {
    transform: translateY(-10px); 
  }

  
  
  #neon-glow-container:hover #neon-glow-image {
    box-shadow: 0 0 10px 5px rgba(46, 232, 35, 0.8); 
  }
  
  #neon-glow-image {
    
    object-fit: cover; 
  }
  #bsnlapphead1, #bsnlapphead2 {
    font-family: 'Arial', sans-serif; 
    font-size: 2rem; 
    font-weight: bold;
    line-height: 1.5;
    text-align: center;

    text-shadow: 1px 1px 2px rgba(0,0,0,0.3); 
    letter-spacing: 0.05em; 
  }
  
  #bsnlapphead2 {
    font-size: 1.25rem; 
   
  }

  