#offercard{
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Example shadow */
    transition: box-shadow 0.3s ease; /* Smooth transition for the shadow */
}
#offercard:hover {
    scale: 1.1;
    box-shadow: 0 0 20px 5px #00ff00; /* Neon green glow effect */
}
