*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.wrapper{
    background: black;
    min-height: 100vh; /* Use viewport height for full screen height */
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader{
    width: 8rem;
    justify-content: center;
    
}

.loading-animation__path{
    stroke: white;
    stroke-width: 1;
    fill: none;
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    animation: stroke 4s linear infinite;
    justify-content: center;
    width: 100%; /* Ensure SVG takes full width of its container */
    max-width: 320px; /* Set maximum width for better scaling */
    height: auto; /* Allow SVG to scale proportionally */
}

@keyframes stroke {
    from {
        stroke-dashoffset: 500;
    }
    to {
        stroke-dashoffset: 0;
        
    }
}
